# Domain
NEXT_PUBLIC_DOMAIN="http://localhost:3000"
NEXT_PUBLIC_ENVIRONMENT="development"
NEXT_PUBLIC_SITE_NAME="Spacerr"

NEXT_PUBLIC_ANALYTICS_TRACKING="on"
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"

# Vercel AI Gateway
AI_GATEWAY_API_KEY=

# Neon
DATABASE_URL=
DIRECT_URL=

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="mUW83rTgAtq2BQR3OTv8TM1xds9lZ5OZY1+qxLm91GeeTPT66yZj/JX/leGtGeVMFr8lTT87lpTLscseB91TnQ=="
BETTER_AUTH_PASSKEY_RP_ID=localhost
BETTER_AUTH_PASSKEY_RP_NAME="Starter Kit"
BETTER_AUTH_PASSKEY_ORIGIN=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SUPPORT_EMAIL=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO_MONTHLY=
STRIPE_PRICE_ID_PRO_YEARLY=

# Vercel blob
BLOB_READ_WRITE_TOKEN=
