# Domain
NEXT_PUBLIC_DOMAIN="http://localhost:3000"
NEXT_PUBLIC_ENVIRONMENT="development"

# Vercel AI Gateway
AI_GATEWAY_API_KEY=

# Neon
DATABASE_URL=
DIRECT_URL=

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="mUW83rTgCtq2BQR4OTv8TM2xds9lZ5OGY1+qxLm91GeeTPT66yZj/JX/leGtGeVMFr8lTT87lpTLscseB91TnQ=="
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO_MONTHLY=
STRIPE_PRICE_ID_PRO_YEARLY=
