@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-accent-1: var(--accent-1);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 1rem;
  --background: oklch(1 0 0);
  --foreground: oklab(0.21 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.582 0.207 267.563);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.288 0.016 280.305);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.58 0.01 88.68);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.288 0.016 280.305);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.65 0.12 185);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.288 0.016 280.305);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.288 0.016 280.305);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --accent-1: oklch(0.652 0.221 12.782);
}

.dark {
  --background: oklch(0.248 0 0);
  --foreground: oklch(97.02% 0 0);
  --card: oklch(0.301 0 0);
  --card-foreground: oklch(97.02% 0 0);
  --popover: #171717;
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.582 0.207 267.563);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(30.12% 0 0);
  --secondary-foreground: oklch(97.02% 0 0);
  --muted: oklch(40.12% 0 0);
  --muted-foreground: oklch(71.37% 0.019 261.32);
  --accent: oklch(30.12% 0 0);
  --accent-foreground: oklch(97.02% 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.38 0 0);
  --input: oklch(0.418 0 0);
  --ring: oklch(58.33% 0.153 262.62);
  --chart-1: oklch(71.79% 0.087 182.04);
  --chart-2: oklch(58.33% 0.153 262.62);
  --chart-3: oklch(76.16% 0.117 291.2);
  --chart-4: oklch(0.72 0.1 185);
  --chart-5: oklch(86.06% 0.173 91.94);
  --sidebar: #171717;
  --sidebar-foreground: oklch(92.19% 0 0);
  --sidebar-primary: oklch(58.33% 0.153 262.62);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0 / 5.5%);
  --sidebar-accent-foreground: oklch(92.19% 0 0);
  --sidebar-border: oklch(30.52% 0 0);
  --sidebar-ring: oklch(58.33% 0.153 262.62);
  --accent-1: oklch(0.652 0.221 12.782);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: -0.4px;
    h1 {
      letter-spacing: -3.5px;
    }
    h2 {
      letter-spacing: -2px;
    }
    h3 {
      letter-spacing: -1px;
    }
  }
  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }
}

.lucide {
  stroke-width: 2px;
}

@media (max-width: 767px) {
  [data-mobile="true"][data-sidebar="sidebar"][data-slot="sidebar"] {
    top: 0;
    bottom: 0;
    height: 100dvh;
    max-height: 100dvh;
    border-radius: 0;
  }
}
